@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base adicionales si los deseas */
body {
  @apply bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  min-height: 100vh;
}